<h1>Mail</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Subject</th>
    <th>Sent At</th>
    <th>&nbsp;</th>
  </tr>
  <% @mails.each do |mail| -%>
  <tr>
    <%= content_tag(:td, mail.from.join(',')) -%>
    <%= content_tag(:td, mail.to.join(',')) -%>
    <%= content_tag(:td, mail.subject) -%>
    <%= content_tag(:td, mail.created_at) -%>
    <%= content_tag(:td, link_to('view', url_for(mail))) -%>
  </tr>
  <% end -%>
</table>

<div id="paginator">
  <%= paginate @mails %>
</div>
